
<div class="footer">
    <div class="copyright margin-center w1200">Copyright © 2018 Wx1234. All Rights Reserved. <script src="https://s19.cnzz.com/z_stat.php?id=1274401737&web_id=1274401737" language="JavaScript"></script></div>
</div>
<script type="text/javascript">
function login(){
    var username = $("input[name='user-name']"),
        password = $("input[name='user-pass']"),
        user_name = username.val(),
        user_pass = password.val(),
        json = {"user_name":user_name,"user_pass":user_pass};
    if(user_name == ""){
        $(".err-tip").html("你还没有输入账号");
        username.focus();
    } else if(user_pass == "") {
        $(".err-tip").html("你还没有输入密码");
        password.focus();
    } else {
        $(".disable-btn").show();
        $.ajax({
            method:"POST",
            url:"{:url('user/login/doLogin')}",
            data:json,
            dataType:"json",
            success:function(res){
                if(res.errcode == "1"){
                    window.location.href="{:url('user/center/index')}";
                }else {
                    $(".err-tip").html(res.errmsg);
                }
                $(".disable-btn").hide();
            }
        })
    }

}
</script>
</body>
</html>