<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>微1234（wx1234.cn）-微信公众号营销小程序开发微信吸粉支付宝小程序开发生活号运营首选微信1234第三方平台！</title>
    <meta name="keywords" content="微信营销,微信公众平台,公众号第三方平台,微信投票,微网站,微信商城,分销商城,微信直播,微信交友,微信会员卡,微信卡券,微信1234,公众号交友,公众号直播,微信小程序,小程序开发,微信小程序第三方平台">
    <meta name="description" content="微1234（wx1234.cn）,微信公众号第三方平台,微信营销平台,免费且功能强大的微信第三方公众号营销服务平台提供微信投票，微信交友，微信直播，微信会员卡,微信卡券，微信三级分销商城，微网站，微信小程序第三方开发平台，一站式建站服务平台">
    {load href="/static/user/js/jquery.min.js" /}
    {load href="/static/js/bootstrap.min.js" /}
    {load href="/static/css/bootstrap.min.css" /}
    {load href="/static/css/index.css" /}
    {load href="/static/css/center.css" /}
    {load href="/static/css/register.css" /}
</head>
<body>

<div class="header">
    <div class="margin-center w1200">
        <div class="logo left"><a href="/"><img src="__ROOT__/static/images/logo.png" style="vertical-align: text-bottom"></a></div>
        <div class="nav">
            <ul>
                <li><a href="/">首页</a></li>
                {if ($islogin)}
                <li><a href="{:url('user/center/index')}">会员中心</a></li>
                <li><a href="{:url('user/login/logout')}">退出</a></li>
                {else}
                <li><a href="{:url('user/index/index')}">登录</a></li>
                <li><a href="{:url('user/register/index')}">注册</a></li>
                {/if}
            </ul>
        </div>
    </div>
</div>