*{padding:0;margin:0;}
html{height:100%;}
body{min-height:100%;position:relative;}
.header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: rgba(255,255,255,.98);
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    border-top:4px solid #44B549;
}
.header a{color:#000;text-decoration: none;}
.margin-center{margin: 0 auto;}
.w1200{width: 1000px}
.left{float: left}
.logo{height:80px;width: 180px;color:#44B549;font-size: 40px;font-family: '华文琥珀'}
.nav ul{margin: 0;padding: 0;overflow: hidden;}
.nav ul li{
    list-style: none;
    float: left;
    width: 135px;
    text-align: center;
}
.nav ul li a.active{
    background-color: #0bb20c;
    display: inline-block;
    height: 35px;
    width: 100px;
    line-height: 35px;
    color:#fff;
    border-radius: 2px;
}
.nav ul li a:hover{
    color:#0bb20c;
}
.relative{
    position: relative;
}
.banner{
    background: transparent url('https://res.wx.qq.com/mpres/htmledition/images/bg/bg_login_banner_v53a7b38.jpg') no-repeat center center;
    background-color: #090b1a;
    height: 460px;
}
.login{
    position: absolute;
    top:30px;
    right: 0px;
    height: 300px;
    width: 350px;
    background-color: #fff;
    border-radius: 2px;
}
.qrcode{
    width: 120px;
    height: 150px;
    background-color: #fff;
    position: absolute;
    right: -130px;
    top:30px;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    padding-top: 8px;
}
.login-div{
    margin: 30px 30px;
}
.login-div h3{
    margin-bottom: 20px;
}
.login-div input{
    outline: none;
    height: 45px;
    line-height: 45px;
    padding-left: 5px;
    width: 280px;
    border:1px #ccc solid;
    border-radius: 2px;
    margin-bottom: 20px;
    font-weight: normal;
}
.icon{
    background: transparent url('https://res.wx.qq.com/mpres/zh_CN/htmledition/comm_htmledition/style/page/page_login_z3b5429.png') no-repeat center center;
}
.login-a-btn{
    display: inline-block;
    width: 120px;
    height: 33px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    background-color: #44b549;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 30px;
}
.login-a-btn:link{
    color:#fff;
    text-decoration: none;
}
.login-a-btn:hover{
    background-color: #2f9833;
    background-image: linear-gradient(to bottom,#2f9833 0,#2f9833 100%);
    border-color: #2f9833;
    color: #fff;
    text-decoration: none;
}
.login-a-btn:visited{
    color:#fff;
    text-decoration: none;
}
.notice{
    height: 50px;
    line-height: 50px;
    border:1px #ccc solid;
    margin-top: 30px;
    padding-left: 20px;
}
.intro{
    margin-top: 30px;
    overflow: hidden;
}
.media-box{
    border:1px #ccc solid;
    border-radius: 3px;
    width: 240px;
    height: 300px;
    float: left;
    margin-right: 140px;
    text-align: center;
    padding: 30px;
    line-height: 30px;
}
.media-box img{
    margin-bottom: 30px;
}
.none-mg{
    margin-right: 0;
}
.intro h3{
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 30px;
}
.nav100{height: 100px}
.footer{
    width: 100%;
    margin-top: 50px;
    height: 50px;
    line-height: 50px;
    border-top:1px #ccc solid;
    color:#666;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    position:absolute;
    bottom:0;
    left:0;
}
.err-tip{
    color:#f00;
    margin-bottom: 10px;
    font-size: 12px;
}
.disable-btn{
    background-color:rgba(0, 0, 0, 0);
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    display: none;
    z-index: 99;
}
.loading{
    position: absolute;
    top: 50% ;
    left: 50%;
    display: none;
}