<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="{:url('user/login/index')}" target="_blank">登录</a> &nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{:url('user/register/index')}" target="_blank">注册</a> &nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{:url('user/center/index')}" target="_blank">会员中心</a>
</body>
</html>