{include file="common/header"}
<div class="center">
    <div class="center-left">
        <div><a href="javascirpt:;" onclick="manager('account')">帐号管理</a></div>
        <div><a href="javascirpt:;" onclick="manager('info')">个人信息</a></div>
        <div><a href="javascirpt:;" onclick="manager('pass')">修改密码</a></div>
        <div><a href="javascirpt:;" onclick="manager('pass')">积分兑换</a></div>
    </div>

    <div class="center-right"></div>
</div>

<script type="text/javascript">
    $(function(){
       manager('account');
    });
    function manager($model){
        $.post("{:url('user/center/manager')}",{"model":$model},function(res){
            $(".center-right").html(res);
        });
    }
</script>

{include file="common/footer"}