{include file="common/header"}

<div class="banner">
    <div class="margin-center w1200 relative">
        <div class="login">
            <div class="login-div">
                <h3>登录</h3>
                <div class="err-tip"></div>
                <div class="login-box"><label><span class="icon user"></span><input type="text" name="user-name" placeholder="手机号/邮箱地址"> </label></div>
                <div class="login-box"><label><span class="icon pass"></span><input type="password" name="user-pass" placeholder="密码"> </label></div>
                <div class="login-box"></div>
                <div class="login-box">
                    <a href="javascript:;" class="login-a-btn" onclick="login()">登录</a>
                    <a href="{:url('user/register/forgot')}" target="_blank" >找回密码</a></div>
            </div>
        </div>
        <div class="qrcode">
            <img src="__ROOT__/static/images/qrcode_for_gh_5bd0668a8df2_258.jpg" width="100px" height="100px"><br>
            扫描并关注<br>
            微信公众平台
        </div>
    </div>
</div>

<div class="notice margin-center w1200">
    <div>系统公告： <a href="javascript:;" target="_blank">公众号文章图片跳转小程序及图片跳转链接的调整通知....</a></div>
</div>

<div class="margin-center w1200">

    <div class="intro">
        <h3>服务</h3>
        <div class="media-box">
            <img src="__ROOT__/static/images/weixin.png" width="100px" height="100px">
            <p>为微信公众号运营提供技术支持服务，吸粉，活动，提高粉丝活跃度，增加粘性</p>
        </div>
        <div class="media-box">
            <img src="__ROOT__/static/images/wx.png" width="100px" height="100px">
            <p>微信小程序横版定制，分享微信流量红利，小程序商城，门店，红包等</p>
        </div>
        <div class="media-box none-mg" >
            <img src="__ROOT__/static/images/ali.jpg" width="100px" height="100px">
            <p>支付宝生活号/小程序运营管理，无需开发，就能拥有属于自己的支付宝小程序</p>
        </div>
    </div>
</div>

<div class="intro">
    <div class="margin-center w1200">
        <h3>沟通</h3>
        <div class="contact-div">Email：<a href="mailto:wx1234cn@foxmail.com">wx1234cn@foxmail.com</a> </div>
    </div>
</div>

{include file="common/footer"}
